<launch>
  <master auto="start"/>

  <arg name="robot_radius"/>
  <arg name="use_sim_time" default="true"/>
  
  <rosparam command="load" file="$(find vacuumcleaner)/config/config.yaml" />
  <param name="/vacuumcleaner/robot/radius" value="$(eval arg('robot_radius'))" />
  
  <param name="robot_description" command="xacro '$(find vacuumcleaner)/config/vacuumcleaner_model/model.xacro' body_radius:=$(arg robot_radius)"/>
  

  
  
  <node pkg="vacuumcleaner" name="server" type="server" output="screen"> 
    
  </node>

  <node pkg="vacuumcleaner" name="client" type="client" output="screen"/>


  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" ns="vacuumcleaner">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base">
    <rosparam file="$(find vacuumcleaner)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find vacuumcleaner)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find vacuumcleaner)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find vacuumcleaner)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find vacuumcleaner)/config/base_local_planner_params.yaml" command="load" />
    <param name="global_costmap/resolution" value="0.01"/>
    <param name="local_costmap/resolution" value="0.01"/>
    <param name="global_costmap/robot_radius" value="$(eval arg('robot_radius'))"/>
    <param name="local_costmap/robot_radius" value="$(eval arg('robot_radius'))"/>
    <param name="local_costmap/width" value="$(eval 5*arg('robot_radius'))"/>
    <param name="local_costmap/height" value="$(eval 5*arg('robot_radius'))"/>
    
    </node>

  <node pkg="gmapping" type="slam_gmapping" name="gmapping_thing">
    <param name="base_frame" value="base_footprint"/>
    <param name="odom_frame" value="odom"/>
  </node>
</launch>
