<launch>
  <arg name="use_sim_time" value="true" />
  <arg name="gui"        default="true"/>
  <arg name="world_file" default="world"/>
  <arg name="radius"/>

  <include file="$(find vacuumcleaner)/launch/robot.launch">
    <arg name="radius" value="$(arg radius)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
  </include>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="world_name" value="$(find vacuumcleaner)/worlds/square"/>
    <arg name="output" default="log"/>
  </include>


  <node name="RVIZ" pkg="rviz" type="rviz" args=" -d $(find vacuumcleaner)/config/config.rviz" />
  <node name="spawn_robot_model" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model vacuumcleaner -x -2.0 -y -0.5 -z 0 -R 0.0 -P 0.0 -Y 0.0" />

</launch>

